<div>
  <h1><%= @team.name %></h1>
  <p><%= @team.city %></p>

  <h2>Roster</h2>
  <table>
    <thead>
    <tr>
      <th>Player</th>
      <th>Lv</th>
      <th>SH</th>
      <th>PA</th>
      <th>BL</th>
      <th>EN</th>
      <th>SP</th>
      <th>AT</th>
    </tr>
    </thead>
    <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= link_to player.name, player %></td>
        <td><%= player.level %></td>
        <td><%= player.sh %></td>
        <td><%= player.pa %></td>
        <td><%= player.bl %></td>
        <td><%= player.en %></td>
        <td><%= player.sp %></td>
        <td><%= player.at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>