<%= form_with(model: admin_player, class: "contents") do |form| %>
  <% if admin_player.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(admin_player.errors.count, "error") %> prohibited this admin_player from being saved:</h2>

      <ul class="list-disc ml-6">
        <% admin_player.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": admin_player.errors[:name].none?, "border-red-400 focus:outline-red-600": admin_player.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :level %>
    <%= form.number_field :level, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": admin_player.errors[:level].none?, "border-red-400 focus:outline-red-600": admin_player.errors[:level].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :sh %>
    <%= form.number_field :sh, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": admin_player.errors[:sh].none?, "border-red-400 focus:outline-red-600": admin_player.errors[:sh].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :pa %>
    <%= form.number_field :pa, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": admin_player.errors[:pa].none?, "border-red-400 focus:outline-red-600": admin_player.errors[:pa].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :bl %>
    <%= form.number_field :bl, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": admin_player.errors[:bl].none?, "border-red-400 focus:outline-red-600": admin_player.errors[:bl].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :en %>
    <%= form.number_field :en, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": admin_player.errors[:en].none?, "border-red-400 focus:outline-red-600": admin_player.errors[:en].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :sp %>
    <%= form.number_field :sp, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": admin_player.errors[:sp].none?, "border-red-400 focus:outline-red-600": admin_player.errors[:sp].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :at %>
    <%= form.number_field :at, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": admin_player.errors[:at].none?, "border-red-400 focus:outline-red-600": admin_player.errors[:at].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :team_id %>
    <%= form.number_field :team_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": admin_player.errors[:team_id].none?, "border-red-400 focus:outline-red-600": admin_player.errors[:team_id].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
