<div>
  <h1>Log a match</h1>

  <%= form_with model: [:admin, @match] do |f| %>
    <% if f.object.errors.any? %>
      <ul>
        <% f.object.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    <% end %>


    <div>
      <%= f.label :home_team_id, "Home team" %>
      <%= f.select :home_team_id, @teams.map { |t| [t.name, t.id] } %>
    </div>

    <div>
      <%= f.label :away_team_id, "Away team" %>
      <%= f.select :away_team_id, @teams.map { |t| [t.name, t.id] } %>
    </div>

    <div>
      <%= f.label :home_score %>
      <%= f.number_field :home_score, min: 0 %>
    </div>

    <div>
      <%= f.label :away_score %>
      <%= f.number_field :away_score, min: 0 %>
    </div>

    <div>
      <%= f.label :played_at, "Date played" %>
      <%= f.date_field :played_at %>
    </div>

    <%= f.submit "Log match" %>
  <% end %>
</div>